<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Rent-ability</title>
</head>
<body>
   <div class="container mt-5 p-5">
    <div class="row">
        <h1>Registra tu vehiculo</h1>
        <form action="/api/vehicle" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Ingresa la matricula del vehículo</label>
                <input type="text" class="form-control" name="matricula">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Ingrese cilindraje del vehiculo</label>
                <input type="text" class="form-control" name="cilindraje">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Ingrese modelo del vehiculo</label>
                <input type="text" class="form-control" name="modelo">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Ingrese linea del vehiculo</label>
                <input type="text" class="form-control" name="linea">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Ingrese color del vehiculo</label>
                <input type="text" class="form-control" name="color">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Ingrese marca del vehiculo</label>
                <input type="text" class="form-control" name="marca">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Elige tipo de vehiculo</label>
                <select class="form-select" aria-label="Default select example" id="tipos-vehiculos">
                    <option value="0" tipo_vehiculo="AUTOMOVIL" selected>Automovil</option>
                    <option value="1" tipo_vehiculo="MOTO">Moto</option>
                </select>
                <input type='hidden' id="tipo" name="tipo" value="AUTOMOVIL"/>
            </div>
    
             <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Sube aquí la imágen del vehiculo</label>
                <input type="file" name="image" class="form-control">
            </div>
            <div class="d-grid gap-2">
                <input type="submit" value="Enviar" class="btn btn-primary">
            </div>
        </form>
    </div>
    <script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" language="javascript">
        $(function() {
            $("#tipos-vehiculos").change(function(){
                let typeVehicle= $('option:selected', this).attr('tipo_vehiculo');
                console.log(typeVehicle)
                $('#tipo').val(typeVehicle);
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>